<link href="~/Content/Site.css"/>
<link href="~/Content/style.css" />


        @if (Session["CartCounter"] == null)
        {
        <a href="@Url.Action("ShoppingCart", "Shopping")">
            <img src="~/Billeder/basket.svg" class="login" />
            <p class="sort-tekst" id="CartItem" style="font-size: 15px;">
                Cart
            </p>
        </a>
        }
        
        else
        {
        <a href="@Url.Action("ShoppingCart", "Shopping")">
            <img src="~/Billeder/basket.svg" class="login" />
            <p class="sort-tekst" id="CartItem" style="font-size: 15px;">
                Cart (@Session["CartCounter"].ToString())
            </p>
        </a>
        }
