<ul class="nav navbar-nav navbar-right">
    <li style="margin-top: auto; margin-bottom: auto; margin-right: 50px;">
        @if (Session["CartCounter"] == null)
        {
            @Html.ActionLink("Cart", actionName: "ShoppingCart", routeValues: "Shopping", htmlAttributes: new { id = "CartItem" })
        }
        else
        {
            @Html.ActionLink("Cart" + "(" + Session["CartCounter"] + ")", actionName: "ShoppingCart", routeValues: "Shopping", htmlAttributes: new { id = "CartItem" })
        }

    </li>
</ul>