<ul class="nav navbar-nav navbar-right">
    <li>
        @if (Session["CartCounter"] == null)
        {

            <img src="~/Billeder/basket.svg" class="login" />
            <a href="@Url.Action("ShoppingCart", "shopping")">
                @Html.ActionLink("Cart", actionName: "ShoppingCart", routeValues: "Shopping", htmlAttributes: new { id = "CartItem" })
            </a>
        }
        else
        {

        <img src="~/Billeder/basket.svg" class="login" />
        <a href="@Url.Action("ShoppingCart", "shopping")">
            @Html.ActionLink("Cart" + "(" + Session["CartCounter"] + ")", actionName: "ShoppingCart", routeValues: "Shopping", htmlAttributes: new { id = "CartItem" })
        </a>
        }

    </li>
</ul>