@model IEnumerable<E_shop.Models.ProduktTabel>

<br />
<br />
<body>
    <div class="col-sm-6">
        <h2 style="background-color:ActiveBorder; width: 100px; border: 1px solid black; padding: 20px; margin: 20px;">yes</h2>
    </div>
</body>

<table class="table table-striped">

    <tbody>
        
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match Any Document
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    @{
                        var billede = System.Convert.ToBase64String(item.Image);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", billede);
                    }
                    <td> <img src='@imgsrc' style=" width: 100px; height: 100px;" /></td>
                    <td>@item.ProduktNavn</td>
                    <td>@item.ProduktBeskrivelse</td>
                    @{
                        double num = (int.Parse(item.Pris) / 1.5);
                        string numStr = String.Format("{0:0.00}", num);
                    }
                    <td>      @item.Pris,00 kr. <br /> @numStr kr.</td>

                </tr>
            }
        }
    </tbody>
</table>

@{
    ViewBag.Title = "Home Page";
}

<h1> DATABASE VÆRDIER </h1>

@if (Model.Count() == 0)
{
    <tr>
        <td>
            Intet matchede dit søge resultat
        </td>
    </tr>
}

<!--
@foreach (E_shop.Models.ProduktTabel item in Model)
{
    <table>
        <tr style="border: solid 0.1px; ">
            @{
                var billede = System.Convert.ToBase64String(item.Image);
                var imgsrc = string.Format("data:image/gif;base64,{0}", billede);
            }
            <td> <a> <img src='@imgsrc' style=" width: 100px; height: 100px;" /> </a> </td>

            <td> @item.ProduktNavn</td>



            <td>  <input type="submit" onclick="Køb()" value="KØB" class="btn btn-default" /></td>


        </tr>
    </table>
}
    -->
