@model IEnumerable<E_shop.Models.ProduktTabel>
<head>
    <link href="~/Content/Index.css" rel="stylesheet" />
</head>

<br />
<br />
<style>


    a:hover, a:active {
        background-color: red;
    }
</style>
<body>
    <div class="col-sm-6">
        <h2>
            <a href="https://localhost:44368/Home/AddImage" class="category">Computer</a>
        </h2>
    </div>
</body>

<table class="table table-striped">

    <tbody>
        
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match Any Document
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    @{
                        var billede = System.Convert.ToBase64String(item.Image);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", billede);
                    }
                    <td> <img src='@imgsrc' style=" width: 100px; height: 100px;" /></td>
                    <td>@item.ProduktNavn</td>
                    <td>@item.ProduktBeskrivelse</td>
                    @{
                        double num = (int.Parse(item.Pris) / 1.5);
                        string numStr = String.Format("{0:0.00}", num);
                    }
                    <td>      @item.Pris,00 kr. <br /> @numStr kr.</td>
                    <td> <button onclick="køb()"> Køb</button></td>

                </tr>
            }
        }
    </tbody>
</table>

@{
    ViewBag.Title = "Home Page";
}



@if (Model.Count() == 0)
{
    <tr>
        <td>
            Intet matchede dit søge resultat
        </td>
    </tr>
}


