@model E_shop.Models.Bruger

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Login-pop-up-vindue.css" rel="stylesheet" />
</head>

<body class="font">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-box">
                    <div id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <span>
                                    <img style="width: 150px; height: 150px; margin-top: 35px;" src="~/Billeder/flash-rød.svg " />
                                </span>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <h3 class="title">Dine oplysninger er blevet gemtt succesfuldt</h3>
                                        <p class="description">For at opdatere oplysningerne på hjemmesiden skal du logge ind igen. tryk på "LOG UD" for at logge ind igen.</p>
                                        <div style="margin-bottom: 15px;">

                                        </div>
                                        <div>
                                            <a href="@Url.Action("LogOut", "Home")" class="btn">Log Ud</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


