.category-border-wrap {
    max-width: 250px;
    max-height: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to top, #FE5D3B, #FE4550, #FE2D66);
    padding: 3px;
}

.category {
    background: white;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size:25px;
    color: black;
}

    .category:hover {
        background: linear-gradient(to top, #FE5D3B, #FE4550, #FE2D66);
        text-decoration: none;
        
        -webkit-text-fill-color: white;
    }



.kurvknap {
    border: none;
    background-color: transparent;
}
.kurvknap1 {
    border: none;
    background-color: green;
}

.categoryc {
    width:150px;
    height:150px;
    text-align: center;
}