body {
}

.spacing{
    margin-top:100px;
    margin-bottom:auto;
}

.headline {
    border: solid 0.1px;
    height: 70px;
    background-color: orangered;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.rubrik {
    justify-content:center;
}

.kurvcontent {
    position: absolute;
    margin-bottom: auto;
}   




