body {
}

.spacing {
    margin-top: 10px;
    margin-bottom: auto;
}

.headline {
    border: solid 0.1px;
    height: 70px;
    background: linear-gradient(to top, #FE5D3B, #FE4550, #FE2D66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
