
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.paddingleftright {
    padding-left: 150px;
    padding-right: 150px;
}

.sort-tekst{
    color: black!important;
}
    .sort-tekst:hover{
        text-decoration: underline;
    }



.supprt {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}


.login {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}


    /* kurv afdeling*/
.basket {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    margin-top: 10px;
    margin-left: -5px;
}


/*font family*/
.font {
    font-family: 'Roboto', sans-serif;
}